<div class="center live-jackpot">
  <%= render 'shared/messages' %>
  <h1>Jackpot # <%= @jackpot.id %></h1>
  
  <div id="jackpot-doughnut" class="donut-size">
  <div class="pie-wrapper">
    <span class="label">
        <span class="ether-logo"><img src="images/ether.png"></span>
    </span>
    <div class="pie">
      <div class="left-side half-circle"></div>
      <div class="right-side half-circle"></div>
    </div>
    <div class="shadow"></div>
  </div>
  <div>
    <h2 id="potSize"></h2>
  </div>
  <div>
    <h5 id="timeLeft"></h5>
  </div>
</div>

<% if @jackpot.users.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>User</th>
        <th>Stake</th>
        <th>Win chance</th>
      </thead>
      <tbody>
        <% @jackpot.users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user_path(user) %></td>
            <td><%= user.balance %></td>
            <td><%= 234 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

</div>
