<div class="center">
  <%= render 'shared/messages' %>
  <h1>Jackpot #<%= @jackpot.id %>
    <% if @jackpot.open == true %>
      <span class="label label-success">Open</span>
    <% else %>
      <span class="label label-danger">Closed</span>
    <% end %>
  </h1>
  
  <div id="jackpot-doughnut" class="donut-size">
  <div class="pie-wrapper">
    <span class="label">
        <span class="ether-logo"><img src="images/ether.png"></span>
    </span>
    <div class="pie">
      <div class="left-side half-circle"></div>
      <div class="right-side half-circle"></div>
    </div>
    <div class="shadow"></div>
  </div>
  <div>
    <h2>Ξ<%= @jackpot.pot %></h2>
  </div>
  <div>
    <h5><%=  %></h5>
  </div>
</div>

<% if @jackpot.users.any? %>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <th>User</th>
        <th>Stake</th>
        <th>Win chance</th>
      </thead>
      <tbody>
        <% @jackpot.users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user_path(user) %></td>
            <% @game = Game.where(jackpot_id: @jackpot.id, user_id: user.id).first %>
            <td><%= @game.user_stake.to_s %> ether</td>
            <td><%= ((@game.user_stake / @jackpot.pot) * 100).round(2) %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

</div>
