<div class="center">
  <%= render 'shared/messages' %>
  <h1>Jackpot #<%= @jackpot.id %>
    <% if @jackpot.open == false %>
      <span class="label label-danger">Closed</span>
    <% else %>
      <span class="label label-success">Open</span>
    <% end %>
  </h1>
  
<% if User.current_user %>

  <% if @jackpot.users.include? User.current_user %>
    <div class="row well well-sm success">
      <div class="col-md-6 right">
        <h3>My bet</h3>  
        <% @game = Game.where(jackpot_id: @jackpot.id, user_id: User.current_user.id).first %>
        <%= @game.user_stake %>
      </div>
      <div class="col-md-6 left">
        <h3>
          Win %
        </h3> 
      </div>
    </div>
  
  <% else %>
  <div class="center">
    <%= link_to "Place Bet (0.1 ether)", update_pot_path(@jackpot, :amount => 0.1), 
    method: :post,:remote => true, id: "bet-btn", class: "btn btn-info btn-lg" %>
  </div>
  <% end %>
<% end %>

<% if @jackpot.users.any? %>
  <div class="table-responsive" style="margin-top: 50px">
    <table class="table table-bordered">
      <thead>
        <th>User</th>
        <th>Stake</th>
        <th>Win chance</th>
      </thead>
      <tbody>
        <% @jackpot.users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user_path(user) %></td>
            <% @game = Game.where(jackpot_id: @jackpot.id, user_id: user.id).first %>
            <td><%= @game.user_stake.to_s %> ether</td>
            <td><%= ((@game.user_stake / @jackpot.pot) * 100).round(2) %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>


</div>

<div class="center" id="previous-jackpots">
  <h2>Previous Jackpots</h2>
  <div>
    <% @pots = Jackpot.all %>
    <% @pots.reverse.drop(1).each do |pot| %>
      <% @prev_winner = User.find(pot.winner_id) if pot.winner_id %>
      <h3><%= link_to "Pot " + pot.id.to_s + ":", show_jackpot_path(pot.id) %> 
      <%= pot.pot %> ether was won by <%= link_to @prev_winner.name, user_path(@prev_winner) %></h3>
    <% end %>
  </div>
</div>